
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href =https://bootswatch.com/4/lux/bootstrap.min.css>
        {% block stylesheets %}{% endblock %}
        
    </head>
<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{path('security_registration')}}">Stage-Ing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
           
            
        </div>
    </nav>


<center>

<h1>Inscription</h1>
{{ form_start(form)}}
{{ form_row(form.username,{'label':'Nom d\'utilisateur','attr':{'placeholder':'nom'}})}}
{{ form_row(form.email,{'label':'L\'adresse e-mail-','attr':{'placeholder':'adresse e-mail'}})}}
{{ form_row(form.password,{'label':'Votre mot de passe','attr':{'placeholder':'mot de passe'}})}}
{{ form_row(form.confirm_password,{'label':'Confirm password','attr':{'placeholder':'veuiller confirmer'}})}}

<button type="submit" class="btn btn-success">Inscription</button>
<br>
         <a  class="navbar-link" href="{{path('security_login')}}">Conneectez-vous?</a>




</center>

{{ form_end(form)}}
 </body>
</html>